@import "./normalize.min.css";

body {
  background: linear-gradient(to bottom, #e3eaefe6, #e2e9ee 7%, #ffffff 20%), url(../background/worldmap.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
	list-style: none;
	margin: 0;
  padding: 0;	
}

h2, h3 {
  font-weight: 400;
}

figure {
  margin: 0;
}

li {
  list-style: none;
}

.header {
  align-items: center;
	display: flex;
	height: 123px;
  justify-content: space-between;
  margin: 0 auto;
	width: 979px;
}

.logo {
  color: #262626;
  display: -webkit-box;
  font-weight: 700;
  height: 40px;
  letter-spacing: -1.8px;
  position: relative;
  top: -4px;
  left: 2px;
  text-align: left;
  text-decoration: none;
  width: 174px;
}

.logo-text {
  font-size: 37px;
  margin: 0;
  position: relative;
  top: -2px;
  left: -2px;
}

.logo-text__logic {
 font-weight: 400;
}

.menu {
  position: relative;
  right: 30px;
  width: 475px;
}

.menu-list {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.menu-items {
  color: #3c3c3c;
	display: inline-block;
  font-size: 13px;
  letter-spacing: -0.51px;
  padding: 0 11px;
  position: relative;
}

.menu-items:nth-child(1) {
  padding-left: 0;
}

.menu-items:nth-last-child(1) {
  padding-right: 0;
}

.menu-items-href {
  color: #3c3c3c;
  display: block;
  text-decoration: none;
}

.menu-items-href:hover {
  color: #ae3b44;
}

.drop-down-list {
  background-color: #212121;
  display: none;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -72.5px;
  width: 148px;
}

.drop-down-list__items {
  border: 1px solid #232525;
  display: block;
  height: 28px;
}

.drop-down-list__href {
  color: #9ca0a2;
  display: block;
  padding: 9px;
  text-decoration: none;
}

.drop-down-list__href:hover {
  color: #fff;
}

.drop-down-list:before {
  content:""; 
  position: absolute;
  top: -3.5px;
  left: 60px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 4px solid #212121;
}

.drop-down-list-inside:before {
  content:""; 
  position: absolute;
  top: 11px;
  left: -1px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 4px solid #fff;
}

.drop-down-list-inside:after {
  content:""; 
  position: absolute;
  top: 11px;
  left: -3px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 4px solid #212121;
}

.menu-items:hover .drop-down-list {
  display: block;
}

.drop-down-list-inside {
  background-color: #212121;
  display: none;
  padding: 0;
  position: relative;
  top: -35px;
  left: 149px;
  width: 145px;
}

.drop-down-list__items:hover .drop-down-list-inside {
  display: block;
}

.main {
  margin: 0 auto;
	width: 979px;
}

.banner { 
  background-color: #ae3b44;
  border-top: 6px solid #212121;
	display: flex; 
  height: 128.5px;
  justify-content: flex-start;
}

.banner-img {
  background-color: #000;
  /* max-height: 128px; */
  max-width: 245px;
}

.banner-text {
	display: flex;
  justify-content: space-between;
  width: 735px;
  padding: 18px 33px;
}

.banner-text-main {
  color: #edf2f5;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1.2;
  margin: 0;
  width: 155px;
}

.banner-text-extra__text {
  color: #222222;
  font-size: 12px;
  line-height: 1.6;
  /* height: 60px; */
  margin: 0;
  margin-bottom: 20px;
  width: 433px;
}

.banner-text-extra__more {
  display: flex;
  justify-content: space-between;
}

.banner-text-extra__more-text {
  color: #ae3b44;
}

.banner-text-extra__arrow-href:first-child {
  margin-right: 7px;
}

.banner-text-extra__arrow {
  letter-spacing: 5px;
  font-weight: 900;
}

.banner-text-extra__arrow-href {
  color: #f3e2e3;
  text-decoration: none;
}

.main-content {
	display: flex;
  justify-content: space-between;
}

.left-menu {
  border-right: 1px solid #e4e6e7;
  margin: 0;
  width: 246px;
  padding-top: 40px;
}

.custom-menu {
  background: repeating-linear-gradient(-50deg, #f7f7f7 0, #e7e7e7 1px, transparent 1px, transparent 8px);
  border-bottom: 1px solid #e7e7e7;
  /* height: 19px; */
  padding: 13px 0 13px 14px;
}

.custom-menu-header {
  color: #212121;
  font-size: 18px;
  letter-spacing: -0.5px;
  margin: 0;
}

.custom-menu-list {
  position: relative;
  margin: 0;
  padding: 0;
}

.custom-menu-items {
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  letter-spacing: -0.1px;
  position: relative;
}

.custom-menu__items-href {
  color: #3c3c3c;
  display: block;
  padding: 11px 0 13px 18px;
  text-decoration: none;
}

.active {
  font-size: 12px;
  cursor: pointer;
  background-color: #ae3b44;
}

.custom-menu-items + .active .custom-menu__items-href {
  color: #fff;
}

.active:after {
  content:""; 
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 0;
  top: 16px;
  left: 240px;
  border-top-color:  #ae3b44;
  transform: rotate(270deg);
}

.custom-menu__items-href:hover {
 color: #ae3b44;
}

.custom-menu-items__nested-list {
  background-color: #f4f7f8;
  border-top: 1px solid #e7e7e7;
  list-style: none;
  padding: 0;
}

.custom-menu-items__nested-items {
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
}

.custom-menu-items__nested-items:last-child {
  border: none;
}

.custom-menu-items__nested-items-href {
  color: #3c3c3c;
  display: block;
  padding: 13px 0 12px 40px;
  text-decoration: none;
}

.custom-menu-items__nested-items-href:hover {
  color: #ae3b44;
}

.custom-menu-items__nested-in-nested {
  background-color: #eaeaea;
  border-top: 1px solid #e7e7e7;
  list-style: none;
  padding: 0;
}

.custom-menu-items__nested-in-nested-items {
  border-bottom: 1px solid #d7d7d7;
  font-size: 12px;
}

.custom-menu-items__nested-in-nested-items:last-child {
  border: none;
}

.custom-menu-items__nested-in-nested-href {
  color: #3c3c3c;
  display: block;
  padding: 12px 0 13px 59px;
  text-decoration: none;
}

.custom-menu-items__nested-in-nested-href:hover {
 color: #ae3b44;
}

.custom-menu-items .open:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url(../img/arrow_bottom.png);
  top: 18px;
  transform: rotate(0);
  right: 15px;
}

.custom-menu-items .no-open:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url(../img/arrow_bottom.png);
  top: 18px;
  transform: rotate(270deg);
  right: 15px;
}

.custom-menu-items__nested-in-nested-items .arrow_marker:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url(../img/arrow_bottom.png);
  transform: rotate(270deg);
  left: 41px;
}

.custom-menu-items__nested-text {
  display: flex;
  justify-content: space-between;
}

.arrow-in-items {
  position: relative;
  top: 3px;
  right: 12px;
  height: 7px;
}

.content {
  padding: 33px 0 0 36px;
  width: 698px;
}

.news-header {
  display: flex;
  border-bottom: 1px solid #ececec;
  height: 80px;
  letter-spacing: -0.5px;
  margin: 0;
  justify-content: space-between;
}

.ask {
  color: #3d3d3d;
  font-size: 24px;
  margin: 0;
  width: 450px; 
}

.date-news {
  background: repeating-linear-gradient(-50deg, #f7f7f7 0, #e7e7e7 1px, transparent 1px, transparent 10px);
  color: #3c3c3c;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

.date-news__num {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  height: 100%;
  opacity: 0.3;
}

.date-news__month-year {
  margin: 0 auto;
  font-size: 10px;
}

.date-news__number {
  line-height: 2;
}

.news {
  color: #3c3c3c;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  text-align: justify;
}

.main-news{
  border-bottom: 1px solid #ececec;
  color: #909293;
  font-size: 15px;
  font-style: italic;
  margin: 0;
  padding: 20px 26px 26px 0;
}

.deployment-tools {
  border-bottom: 1px solid #ececec;
  padding: 26px 25px 29px 0;
}

.deployment-tools-header {
  color: #ae3b44;
  font-size: 15px;
  letter-spacing: -0.9px;
  margin: 0;
  margin-bottom: 17px;
}

.deployment-tools-text {
  margin: 0;
  letter-spacing: -0.1px;
  line-height: 1.6;
}

.deployment-tools__bloc-img {
  font-size: 0;
  padding: 36px 0 33px;
  text-align: center;
  margin: 0;
}

.deployment-tools__img {
  background-color: #000;
  border-bottom: 7px solid #212121;
  max-width: 490px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.deployment-tools__img-caption {
  font-size: 11px;
  opacity: 0.5;
}

.deployment-tools-text__continue {
  line-height: 1.6;
  letter-spacing: -0.05px;
  margin: 0;
}

.deployment-tools-text__with-img {
  letter-spacing: -0.2px;
  line-height: 1.55;
  margin: 0;
  margin-bottom: 20px;
}

.deployment-tools__img-in-text {
  background-color: #000;
  border-bottom: 7px solid #212121;  
  float: left;
  margin: 31px 33px 18px 0;
}

.deployment-tools-text__after-img {  
  letter-spacing: -0.13px;
  line-height: 1.6;
  margin: 0;
}

.deployment-next {
  border-bottom: 1px solid #ececec;
  padding: 23px 26px 25px 0;
}

.deployment-next__header {
  color: #ae3b44;
  font-size: 15px;
  margin: 0;
  margin-bottom: 17px;
}

.deployment-next-text {
  letter-spacing: -0.1px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 19px;
}

.deployment-next-text:last-child {
  margin: 0;
}

.article-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 21px 0;
  width: 698px;
}

.article-navigation__link {
  text-decoration: none;
}

.article-navigation__text {
  color: #ae3b44;
  font-size: 15px;
  margin: 0;
}

.article-navigation__text:hover {
  color: #c21524;
}

.article-navigation__img {
  margin-right: 17px;
  max-width: 14px;
}

.article-navigation__img:last-child {
  margin-right: 0;
  margin-left: 15px;
}

.clients {
  border-top: 1px solid #ececec;
  margin: 0;
}

.our-clients {
  align-items: center;
  display: flex;
  height: 94px;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-clients__text {
  font-size: 18px;
}

.our-clients__items {
  filter: grayscale(1);
  max-width: 100px;
}

.our-clients__items:hover {
  filter: none;
}

.footer {
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 5px -5px rgba(0, 0, 0, .7);
  border-top: 1px solid #ebebec;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 20px 26px 0;
  width: 910px;
}

.footer-list__block {
  color: #393939;
  opacity: 0.5;
}

.footer-list__headers {
  color: #212121;
  font-weight: 400;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 25px;
}

.quick-links {
  display: flex;
  padding: 0;
}

.quick-links__list {
  margin-right: 75px;
}

.quick-links__list:last-child {
  margin: 0;
}

.quick-links__list-columns {
  box-sizing: border-box;
  padding: 0;
}

.quick-links__list-columns__items {
  line-height: 1.6;
}

.quick-links__href:hover {
  color: #ae3b44;
}

.list-columns__contacts {
  display: -webkit-inline-box;
  padding: 0;
}

.quick-links__href {
  color: #393939;
  text-decoration: none;
}

.quick-links__contacts {
  font-size: 0;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.list-columns__contacts-items {
  filter: grayscale(1);
  list-style-type: none;
  margin-right: 7px;
}

.list-columns__contacts-items:last-child {
  margin-right: 0;
}

.list-columns__contacts-items:hover {
  filter: brightness(130%);
  cursor: pointer;
}

.list-columns__contacts-href {
  display: inline-block;
}

.list-columns__images {
  max-width: 24px;
}

